/* custom.css */
html body {
    background: linear-gradient(
        135deg,
        #121212,
        #2c2c2c
    ) !important; /* Use !important as a last resort */

    font-family: "Montserrat", sans-serif; /* Use Mulish for quotes */
}

p {
    font-size: 20px;
}
