.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #f055f0;
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.scroll-to-top:hover {
    transform: scale(1.1);
}
